{
    "root": true,
    "extends": ["@ameinhardt/eslint-config/typescript"],
    "overrides": [{
        "files": ["**/*.test"],
        "plugins": ["jest"],
        "extends": ["plugin:jest/recommended"],
        "rules": {
            "no-undef": "off",
            "import/first": "off"
        }
        }],
    "rules": {
        "camelcase": "off",
        "import/no-named-as-default-member": "off",
        "unicorn/prefer-top-level-await": "off"
    }
}